@import "../../styles.scss";
.card__wrapper {
  width: 420px;
  height: 460px;
  background-color: $white;
}

.card__image {
  width: 420px;
  height: 300px;
  background: no-repeat center/100%;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}
.card__image:hover::after {
  opacity: 1;
}

.card__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $transparent_black;
  opacity: 0;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}

.card__image:hover {
  background: no-repeat center/105%;
}
.card__content {
  padding: 20px;
  border-bottom: 1px solid $grey;
}
.content__first-column {
  margin: 10px 0 20px 0;
}
.content__second-column {
  display: flex;
  flex-direction: row-reverse;
}
.content__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  font-family: $Roboto;
}
.content__text_bold {
  font-weight: 500;
}

.card__footer {
  padding: 20px;
  display: flex;
  align-items: center;
}