@import "../../styles.scss";
.card__wrapper {
  width: 200px;
  height: 200px;
  background-color: $white;
  font-family: $Roboto;
  font-size: 14px;
  border-radius: 7px;
  padding: 20px;
  box-sizing: border-box;
}
.card__title {
  font-weight: 600;
  margin: 0 0 15px 0;
}
.card__text {
  font-weight: 400;
}
