@import "../../styles.scss";
.header {
  height: 70px;
  display: flex;
  border-bottom: 1px solid $grey;
}
.navlink {
  font-family: $Roboto;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
}
.navlink__item {
  border-right: 1px solid $grey;
  padding: 0px 15px;
  height: 70px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.navlink_active {
  pointer-events: none;
  background-color: $white;
}
